body{
    margin-top: 200px;
    background-color: rgb(0, 255, 247);
}

.caption{
    font-size: 40px;
    font-weight: bold;
    background-color:rgba(174, 174, 174,0.5) ;
}
table {
	border-collapse: collapse;
	width: 100%;
}

th, td {
	border: 3px dashed black;
	padding: 8px;
	text-align: left;
}

th {
	background-color: #f2f2f2;
}

tr:nth-child(even) {
	background-color: #f2f2f2;
}
tr:nth-child(odd) {
	background-color:rgba(174, 174, 174,0.5) ;
}
tr:hover {
	background-color:yellow;
}